<nz-card [nzNoHovering]="true" [nzBordered]="false">
    <ng-template #body>
        <desc-list size="large" title="基本信息" class="mb-lg">
            <desc-list-item term="名称">{{account.name}}</desc-list-item>
            <desc-list-item term="版本">{{account.version}}</desc-list-item>
            <desc-list-item term="别名">{{account.alias}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
        <desc-list size="large" title="其他" class="mb-lg">
            <desc-list-item term="操作系统">{{account.operationSystem}}</desc-list-item>
            <desc-list-item term="中间件版本">{{account.middlewareVersion}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
        <desc-list size="large" title="更多" class="mb-lg">
            <desc-list-item term="备注">{{account.remark}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
    </ng-template>
</nz-card>
<div class="customize-footer text-center">
    <button nz-button [nzSize]="'large'" (click)="toSave()" [nzType]="'primary'" nzSize="large">我知道了</button>
</div>
