<nz-card [nzNoHovering]="true" [nzBordered]="false">
    <ng-template #body>
        <desc-list size="large" title="基本信息" class="mb-lg">
            <desc-list-item term="服务器名称">{{data.name}}</desc-list-item>
            <desc-list-item term="服务器用途">{{data.purpose}}</desc-list-item>
            <desc-list-item term="工作状态">{{data.workStatus}}</desc-list-item>
            <desc-list-item term="所属物理主机">{{data.physicalHostOwner}}</desc-list-item>
            <desc-list-item term="所属集群分组">{{data.clusterGroupOwner}}</desc-list-item>
            <desc-list-item term="管理IP">{{data.managementIP}}</desc-list-item>
            <desc-list-item term="数据来源">{{data.dataSource}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
        <desc-list size="large" title="详细信息" class="mb-lg">
            <desc-list-item term="操作系统">{{data.operationSystem}}</desc-list-item>
            <desc-list-item term="CPU">{{data.cpuCost}}</desc-list-item>
            <desc-list-item term="内存">{{data.memoryCost}}</desc-list-item>
            <desc-list-item term="存储空间">{{data.storageCost}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
        <desc-list size="large" title="使用信息" class="mb-lg">
            <desc-list-item term="使用对象">{{data.whoUse}}</desc-list-item>
            <desc-list-item term="起始使用时间">{{data.startTimeUse}}</desc-list-item>
            <desc-list-item term="使用期限">{{data.durationUse}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
    </ng-template>
</nz-card>
<div class="customize-footer text-center">
    <button nz-button [nzSize]="'large'" (click)="toSave()" [nzType]="'primary'" nzSize="large">我知道了</button>
</div>
