<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
    <nz-card [nzBordered]="false">
        <div nz-row [nzGutter]="40">
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label nz-form-item-required>名称</label>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="name">
                        <nz-input formControlName="name" nzPlaceHolder="请输入名称" nzSize="large"></nz-input>
                        <p nz-form-explain *ngIf="(name.dirty || name.touched) && name.errors?.required">
                            请输入名称
                        </p>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label nz-form-item-required>版本</label>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="version">
                        <nz-input formControlName="version" nzPlaceHolder="请输入版本" nzSize="large"></nz-input>
                        <p nz-form-explain *ngIf="(version.dirty || version.touched) && version.errors?.required">
                            请输入版本
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div nz-row [nzGutter]="40">
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label nz-form-item-required>别名</label>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="alias">
                        <nz-input formControlName="alias" nzPlaceHolder="请输入别名" nzSize="large"></nz-input>
                        <p nz-form-explain *ngIf="(alias.dirty || alias.touched) && alias.errors?.required">
                            请输入别名
                        </p>
                    </div>

                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col>
                            <label nz-form-item-required>操作系统</label>
                        </div>
                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="operationSystem">
                            <nz-input formControlName="operationSystem" nzPlaceHolder="请输入操作系统" nzSize="large"></nz-input>
                            <p nz-form-explain *ngIf="(operationSystem.dirty || operationSystem.touched) && operationSystem.errors?.required">
                                请输入操作系统
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div nz-row [nzGutter]="40">
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label nz-form-item-required>中间件版本</label>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="middlewareVersion">
                        <nz-input formControlName="middlewareVersion" nzPlaceHolder="请输入中间件版本" nzSize="large"></nz-input>
                        <p nz-form-explain *ngIf="(middlewareVersion.dirty || middlewareVersion.touched) && middlewareVersion.errors?.required">
                            请输入中间件版本
                        </p>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col>
                        <label nz-form-item-required>备注</label>
                    </div>
                    <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="remark">
                        <nz-input formControlName="remark" nzPlaceHolder="请输入备注" nzSize="large"></nz-input>
                        <p nz-form-explain *ngIf="(remark.dirty || remark.touched) && remark.errors?.required">
                            请输入备注
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nz-card>

    <div class="customize-footer d-flex justify-content-center">
        <button nz-button nzSize="large" (click)="toCancel()">取消</button>
        <button nz-button (click)="toSave()" [nzType]="'primary'" nzSize="large">保存</button>
    </div>
</form>
