<pro-header [title]="'买家约请审批详情'"></pro-header>


<nz-spin [nzTip]="'正在获取详情...'" [nzSpinning]="loading$ | async">
    <nz-card [nzNoHovering]="true" [nzBordered]="false">
        <ng-template #body *ngIf="approvalDetail$ | async; let approval;">
            <desc-list size="large" title="发起方" class="mb-lg">
                <desc-list-item term="姓名">{{approval.initiator}}</desc-list-item>
                <desc-list-item term="职务">{{approval.initiatorJob}}</desc-list-item>
                <desc-list-item term="公司">{{approval.initiatorCompany}}</desc-list-item>
            </desc-list>
            <nz-divider class="mb-lg"></nz-divider>
            <desc-list size="large" title="接收方" class="mb-lg">
                <desc-list-item term="姓名">{{approval.receiver}}</desc-list-item>
                <desc-list-item term="职务">{{approval.receiverJob}}</desc-list-item>
                <desc-list-item term="公司">{{approval.receiverCompany}}</desc-list-item>
            </desc-list>
            <nz-divider class="mb-lg"></nz-divider>
            <desc-list size="large" title="更多" class="mb-lg">
                <desc-list-item term="发起时间">{{approval.createdAt}}</desc-list-item>
                <desc-list-item term="状态">{{approval.status | visitorInvitationStatus:approval.reason}}</desc-list-item>
            </desc-list>
            <nz-divider class="mb-lg"></nz-divider>
        </ng-template>
    </nz-card>
</nz-spin>
