<pro-header></pro-header>

<nz-card [nzTitle]="'买家约请审核'" [nzBordered]="false">
    <!-- <form nz-form [nzLayout]="'inline'">
    <div nz-row [nzGutter]="24">
      <div class="text-center">
        <nz-input [nzType]="'search'" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" style="width: 520px;"></nz-input>
      </div>
    </div>
  </form> -->
    <div class="mb-md">
        <ng-container>
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" class="ml-sm" (click)="toBatchAgreeVisitor()">批量同意</button>
            <button nz-button [nzSize]="'large'" class="ml-sm" (click)="toBatchRejectVisitor(title, content, footer)">批量拒绝</button>
            <!-- <nz-dropdown [nzPlacement]="'bottomLeft'">
                <button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">
                    更多操作
                    <i class="anticon anticon-down"></i>
                </button>
                <ul nz-menu>
                    <li nz-menu-item (click)="toAgreeAllVisitor()">全部同意</li>
                    <li nz-menu-item (click)="toRejectAllVisitor(title, content, footer)">全部拒绝</li>
                </ul>
            </nz-dropdown> -->
        </ng-container>
    </div>

    <nz-table #nzTable1 [nzAjaxData]="visitorApprovals$ | async" [nzShowSizeChanger]="true" [nzLoading]="visitorLoading$ | async"
        [nzTotal]="visitorApprovalsCount$ | async" [(nzPageIndex)]="visitorPageIndex" (nzPageIndexChange)="fetchVisitorApprovals()"
        [(nzPageSize)]="visitorPageSize" (nzPageSizeChange)="fetchVisitorApprovals()" [nzShowFooter]="true">
        <thead nz-thead>
            <tr>
                <th nz-th [nzCheckbox]="true">
                    <label nz-checkbox [ngModel]="visitorAllChecked" [nzIndeterminate]="visitorIndeterminate" (ngModelChange)="checkAllVisitor($event)"></label>
                </th>
                <th nz-th>
                    <span>邀请人公司</span>
                </th>
                <th nz-th>
                    <span>邀请人</span>
                </th>
                <th nz-th>
                    <span>邀请人职位</span>
                </th>
                <th nz-th>
                    <span>受邀人公司</span>
                </th>
                <th nz-th>
                    <span>受邀人</span>
                </th>
                <th nz-th>
                    <span>受邀人职位</span>
                </th>
                <th nz-th>
                    <span>发起时间</span>
                </th>
                <th nz-th>
                    <span>操作</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable1.data">
                <td nz-td [nzCheckbox]="true">
                    <label nz-checkbox [nzDisabled]="data.disabled" [(ngModel)]="data.checked" (ngModelChange)="refreshVisitorStatus($event, data.id)">
                    </label>
                </td>
                <td nz-td>{{data.initiatorCompany}}</td>
                <td nz-td>{{data.initiator}}</td>
                <td nz-td>{{data.initiatorJob}}</td>
                <td nz-td>{{data.receiverCompany}}</td>
                <td nz-td>{{data.receiver}}</td>
                <td nz-td>{{data.receiverJob}}</td>
                <td nz-td>{{data.createdAt}}</td>
                <td nz-td>
                    <span>
                        <a (click)="toAgreeVisitorInvitation(data.id)">同意</a>
                        <span nz-table-divider></span>
                        <a (click)="toRejectVisitorInvitation(data.id, title, content, footer)">拒绝</a>
                        <span nz-table-divider></span>
                        <a [routerLink]="'visitor/' + data.id">查看</a>
                    </span>
                </td>
            </tr>
        </tbody>
        <span nz-table-footer>
            <i class="anticon anticon-database"></i>
            {{'共 ' + (visitorApprovalsCount$ | async) + ' 条'}}
        </span>
    </nz-table>
</nz-card>

<nz-card [nzTitle]="'展商约请审核'" [nzBordered]="false">
    <div class="mb-md">
        <ng-container>
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" class="ml-sm" (click)="toBatchAgreeExhibitor()">批量同意</button>
            <button nz-button [nzSize]="'large'" class="ml-sm" (click)="toBatchRejectExhibitor(title, content, footer)">批量拒绝</button>
            <!-- <nz-dropdown [nzPlacement]="'bottomLeft'">
                <button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">
                    更多操作
                    <i class="anticon anticon-down"></i>
                </button>
                <ul nz-menu>
                    <li nz-menu-item (click)="toAgreeAllExhibitor()">全部同意</li>
                    <li nz-menu-item (click)="toRejectAllExhibitor(title, content, footer)">全部拒绝</li>
                </ul>
            </nz-dropdown> -->
        </ng-container>
    </div>

    <nz-table #nzTable2 [nzAjaxData]="exhibitorApprovals$ | async" [nzShowSizeChanger]="true" [nzLoading]="exhibitorLoading$ | async"
        [nzTotal]="exhibitorApprovalsCount$ | async" [(nzPageIndex)]="exhibitorPageIndex" (nzPageIndexChange)="fetchExhibitorApprovals()"
        [(nzPageSize)]="exhibitorPageSize" (nzPageSizeChange)="fetchExhibitorApprovals()" [nzShowFooter]="true">
        <thead nz-thead>
            <tr>
                <th nz-th [nzCheckbox]="true">
                    <label nz-checkbox [ngModel]="exhibitorAllChecked" [nzIndeterminate]="exhibitorIndeterminate" (ngModelChange)="checkAllExhibitor($event)"></label>
                </th>
                <th nz-th>
                    <span>邀请人公司</span>
                </th>
                <th nz-th>
                    <span>邀请人</span>
                </th>
                <th nz-th>
                    <span>邀请人职位</span>
                </th>
                <th nz-th>
                    <span>受邀人公司</span>
                </th>
                <th nz-th>
                    <span>受邀人</span>
                </th>
                <th nz-th>
                    <span>受邀人职位</span>
                </th>
                <th nz-th>
                    <span>发起时间</span>
                </th>
                <th nz-th>
                    <span>操作</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable2.data">
                <td nz-td [nzCheckbox]="true">
                    <label nz-checkbox [nzDisabled]="data.disabled" [(ngModel)]="data.checked" (ngModelChange)="refreshExhibitorStatus($event, data.id)">
                    </label>
                </td>
                <td nz-td>{{data.initiatorCompany}}</td>
                <td nz-td>{{data.initiator}}</td>
                <td nz-td>{{data.initiatorJob}}</td>
                <td nz-td>{{data.receiverCompany}}</td>
                <td nz-td>{{data.receiver}}</td>
                <td nz-td>{{data.receiverJob}}</td>
                <td nz-td>{{data.createdAt}}</td>
                <td nz-td>
                    <span>
                        <a (click)="toAgreeExhibitorInvitation(data.id)">同意</a>
                        <span nz-table-divider></span>
                        <a (click)="toRejectExhibitorInvitation(data.id, title, content, footer)">拒绝</a>
                        <span nz-table-divider></span>
                        <a [routerLink]="'exhibitor/' + data.id">查看</a>
                    </span>
                </td>
            </tr>
        </tbody>
        <span nz-table-footer>
            <i class="anticon anticon-database"></i>
            {{'共 ' + (exhibitorApprovalsCount$ | async) + ' 条'}}
        </span>
    </nz-table>
</nz-card>




<ng-template #title>
    <span>拒绝{{invitationType}}约请</span>
</ng-template>
<ng-template #content>
    <div>
        <p style="margin-bottom: 10px;">拒绝理由</p>
        <nz-input [(ngModel)]="rejectReason" [nzPlaceHolder]="'可填写拒绝理由'"></nz-input>
    </div>
</ng-template>
<ng-template #footer>
    <div>
        <button nz-button [nzSize]="'large'" (click)="cancelReject($event)">
            取 消
        </button>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="ensureReject($event)">
            拒 绝
        </button>
    </div>
</ng-template>
