<pro-header></pro-header>

<nz-tabset [nzType]="'card'" [(nzSelectedIndex)]="tabIndex" (nzSelectedIndexChange)="tabChange($event)">
    <nz-spin [nzTip]="saveOrSubmitUnifiedText$ | async" [nzSpinning]="saveOrSubmitUnifiedLoading$ | async">
        <nz-tab>
            <ng-template #nzTabHeading>
                <i class="anticon anticon-apple"></i>
                统一申请
            </ng-template>
            <nz-spin [nzTip]="'获取申请信息中...'" [nzSpinning]="fetchApplyInfoLoading$ | async">
                <nz-card [nzTitle]="'申请信息'" [nzBordered]="false">
                    <form nz-form [formGroup]="applyInfoForm" [nzLayout]="'vertical'">
                        <nz-card [nzBordered]="false">
                            <div nz-row [nzGutter]="40">
                                <div nz-col [nzSpan]="6">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col>
                                            <label nz-form-item-required>申请单号</label>
                                        </div>
                                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="applyListNumber">
                                            <nz-input formControlName="listNumber" [nzDisabled]="true" nzPlaceHolder="请输入申请单号" nzSize="large"></nz-input>
                                            <p nz-form-explain *ngIf="(applyListNumber.dirty || applyListNumber.touched) && applyListNumber.errors?.required">
                                                请输入申请单号
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div nz-col [nzSpan]="6">
                                    <div nz-form-item nz-row>
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col>
                                                <label nz-form-item-required>申请人姓名</label>
                                            </div>
                                            <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="applyApplicantName">
                                                <nz-input formControlName="applicantName" [nzDisabled]="true" nzPlaceHolder="请输入申请人姓名" nzSize="large"></nz-input>
                                                <p nz-form-explain *ngIf="(applyApplicantName.dirty || applyApplicantName.touched) && applyApplicantName.errors?.required">
                                                    请输入申请人姓名
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div nz-col [nzSpan]="6">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col>
                                            <label nz-form-item-required>申请人部门</label>
                                        </div>
                                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="applyApplicantDept">
                                            <nz-input formControlName="applicantDept" [nzDisabled]="true" nzPlaceHolder="请输入申请人部门" nzSize="large"></nz-input>
                                            <p nz-form-explain *ngIf="(applyApplicantDept.dirty || applyApplicantDept.touched) && applyApplicantDept.errors?.required">
                                                请输入申请人部门
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div nz-col [nzSpan]="6">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col>
                                            <label nz-form-item-required>联系电话</label>
                                        </div>
                                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="applyApplicantPhone">
                                            <nz-input formControlName="applicantPhone" [nzDisabled]="true" nzPlaceHolder="请输入联系电话" nzSize="large"></nz-input>
                                            <p nz-form-explain *ngIf="(applyApplicantPhone.dirty || applyApplicantPhone.touched) && applyApplicantPhone.errors?.required">
                                                请输入联系电话
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div nz-row [nzGutter]="40">
                                <div nz-col [nzSpan]="12">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col>
                                            <label nz-form-item-required>申请原因</label>
                                        </div>
                                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="applyApplyReason">
                                            <nz-input [nzType]="'textarea'" [nzRows]="3" formControlName="applyReason" nzPlaceHolder="请输入申请原因" nzSize="large"></nz-input>
                                            <p nz-form-explain *ngIf="(applyApplyReason.dirty || applyApplyReason.touched) && applyApplyReason.errors?.required">
                                                请输入申请原因
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </nz-card>
                    </form>

                    <ng-template #extra>
                        <button nz-button class="mx-sm" nzSize="large" (click)="toExport()">导出为Excel</button>
                        <nz-upload class="mx-sm" nzAction="https://jsonplaceholder.typicode.com/posts/">
                            <button nz-button [nzType]="'primary'" nzSize="large">
                                <i class="anticon anticon-upload"></i>
                                <span>上传附件</span>
                            </button>
                        </nz-upload>
                    </ng-template>
                </nz-card>
            </nz-spin>

            <nz-card [nzTitle]="'资源信息'" [nzBordered]="false">
                <ng-template #extra>
                    <button nz-button class="mx-sm" nzSize="large" (click)="toCreateResource()">新增资源信息</button>
                    <button nz-button class="mx-sm" nzSize="large" [nzType]="'primary'" (click)="toAddResources()">选择资源信息</button>
                </ng-template>
                <nz-table #nzTable1 [nzAjaxData]="unifiedAddedApplyResources$ | async" [nzIsPagination]="false">
                    <thead nz-thead>
                        <tr>
                            <th nz-th>
                                <span>资源类型</span>
                            </th>
                            <th nz-th>
                                <span>资源名称</span>
                            </th>
                            <th nz-th>
                                <span>使用环境</span>
                            </th>
                            <th nz-th>
                                <span>申请数量</span>
                            </th>
                            <th nz-th>
                                <span>申请时间</span>
                            </th>
                            <th nz-th>
                                <span>预计需要时间</span>
                            </th>
                            <th nz-th>
                                <span>操作</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let data of nzTable1.data; let i = index;">
                            <td nz-td>{{data.type}}</td>
                            <td nz-td>{{data.name || data.softwareName}}</td>
                            <td nz-td>{{data.environment}}</td>
                            <td nz-td>{{data.applyCount}}</td>
                            <td nz-td>{{data.applyTime | date: 'yyyy-MM-dd'}}</td>
                            <td nz-td>{{data.endTime | date: 'yyyy-MM-dd'}}</td>
                            <td nz-td>
                                <span>
                                    <a (click)="toShowResource(data)">详情</a>
                                    <span nz-table-divider></span>
                                    <a *ngIf="data.tempID" (click)="toEditTempResource(data)">编辑</a>
                                    <span *ngIf="data.tempID" nz-table-divider></span>
                                    <a (click)="toDeleteResource(i)">删除</a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-card>


            <div class="my-md text-center">
                <button nz-button class="mx-sm" nzSize="large" (click)="toSaveUnified()">保存信息</button>
                <button nz-button class="mx-sm" nzSize="large" [nzType]="'primary'" (click)="toSubmitUnified()">确认提交</button>
                <button nz-button class="mx-sm" nzSize="large" (click)="toCancelUnified()">取消创建</button>
            </div>

            <nz-spin [nzTip]="'获取审批人信息中...'" [nzSpinning]="fetchApproversLoading$ | async">
                <nz-card [nzTitle]="'审批人信息'" [nzBordered]="false">
                    <nz-table #nzTable2 [nzAjaxData]="approvers$ | async" [nzIsPagination]="false">
                        <thead nz-thead>
                            <tr>
                                <th nz-th>
                                    <span>审批人姓名</span>
                                </th>
                                <th nz-th>
                                    <span>部门</span>
                                </th>
                                <th nz-th>
                                    <span>职位</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody nz-tbody>
                            <tr nz-tbody-tr *ngFor="let data of nzTable2.data">
                                <td nz-td>{{data.name}}</td>
                                <td nz-td>{{data.department}}</td>
                                <td nz-td>{{data.job}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </nz-spin>
        </nz-tab>
    </nz-spin>

    <nz-spin [nzTip]="saveOrSubmitSubPackageText$ | async" [nzSpinning]="saveOrSubmitSubPackageLoading$ | async">
        <nz-tab>
            <ng-template #nzTabHeading>
                <i class="anticon anticon-android"></i>
                资源分包
            </ng-template>
            <nz-spin [nzTip]="'获取分包信息中...'" [nzSpinning]="fetchSubPackageInfoLoading$ | async">
                <nz-card [nzTitle]="'分包信息'" [nzBordered]="false">
                    <form nz-form [formGroup]="subPackageInfoForm" [nzLayout]="'vertical'">
                        <nz-card [nzBordered]="false">
                            <div nz-row [nzGutter]="40">
                                <div nz-col [nzSpan]="6">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col>
                                            <label nz-form-item-required>分包编号</label>
                                        </div>
                                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="subPackageListNumber">
                                            <nz-input formControlName="subPackageNumber" [nzDisabled]="true" nzPlaceHolder="请输入分包编号" nzSize="large"></nz-input>
                                            <p nz-form-explain *ngIf="(subPackageListNumber.dirty || subPackageListNumber.touched) && subPackageListNumber.errors?.required">
                                                请输入分包编号
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div nz-col [nzSpan]="6">
                                    <div nz-form-item nz-row>
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col>
                                                <label nz-form-item-required>申请人姓名</label>
                                            </div>
                                            <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="subPackageApplicantName">
                                                <nz-input formControlName="applicantName" [nzDisabled]="true" nzPlaceHolder="请输入申请人姓名" nzSize="large"></nz-input>
                                                <p nz-form-explain *ngIf="(subPackageApplicantName.dirty || subPackageApplicantName.touched) && subPackageApplicantName.errors?.required">
                                                    请输入申请人姓名
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div nz-col [nzSpan]="6">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col>
                                            <label nz-form-item-required>申请人部门</label>
                                        </div>
                                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="subPackageApplicantDept">
                                            <nz-input formControlName="applicantDept" [nzDisabled]="true" nzPlaceHolder="请输入申请人部门" nzSize="large"></nz-input>
                                            <p nz-form-explain *ngIf="(subPackageApplicantDept.dirty || subPackageApplicantDept.touched) && subPackageApplicantDept.errors?.required">
                                                请输入申请人部门
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div nz-col [nzSpan]="6">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col>
                                            <label nz-form-item-required>联系电话</label>
                                        </div>
                                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="subPackageApplicantPhone">
                                            <nz-input formControlName="applicantPhone" [nzDisabled]="true" nzPlaceHolder="请输入联系电话" nzSize="large"></nz-input>
                                            <p nz-form-explain *ngIf="(subPackageApplicantPhone.dirty || subPackageApplicantPhone.touched) && subPackageApplicantPhone.errors?.required">
                                                请输入联系电话
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div nz-row [nzGutter]="40">
                                <div nz-col [nzSpan]="12">
                                    <div nz-form-item nz-row>
                                        <div nz-form-label nz-col>
                                            <label nz-form-item-required>申请原因</label>
                                        </div>
                                        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="subPackageApplyReason">
                                            <nz-input [nzType]="'textarea'" [nzRows]="3" formControlName="applyReason" nzPlaceHolder="请输入申请原因" nzSize="large"></nz-input>
                                            <p nz-form-explain *ngIf="(subPackageApplyReason.dirty || subPackageApplyReason.touched) && subPackageApplyReason.errors?.required">
                                                请输入申请原因
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </nz-card>
                    </form>
                </nz-card>
            </nz-spin>

            <nz-card [nzTitle]="'资源信息'" [nzBordered]="false">
                <ng-template #extra>
                    <button nz-button class="mx-sm" nzSize="large" [nzType]="'primary'" (click)="toAddResources()">选择资源信息</button>
                </ng-template>
                <nz-table #nzTable3 [nzAjaxData]="subPackageAddedApplyResources$ | async" [nzIsPagination]="false">
                    <thead nz-thead>
                        <tr>
                            <th nz-th>
                                <span>资源类型</span>
                            </th>
                            <th nz-th>
                                <span>资源名称</span>
                            </th>
                            <th nz-th>
                                <span>使用环境</span>
                            </th>
                            <th nz-th>
                                <span>申请数量</span>
                            </th>
                            <th nz-th>
                                <span>申请时间</span>
                            </th>
                            <th nz-th>
                                <span>预计需要时间</span>
                            </th>
                            <th nz-th>
                                <span>预算/增量预算</span>
                            </th>
                            <th nz-th>
                                <span>最低限价</span>
                            </th>
                            <th nz-th>
                                <span>最高限价</span>
                            </th>
                            <th nz-th>
                                <span>操作</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let data of nzTable3.data; let i = index;">
                            <td nz-td>{{data.type}}</td>
                            <td nz-td>{{data.name || data.softwareName}}</td>
                            <td nz-td>{{data.environment}}</td>
                            <td nz-td>{{data.applyCount}}</td>
                            <td nz-td>{{data.applyTime | date: 'yyyy-MM-dd'}}</td>
                            <td nz-td>{{data.endTime | date: 'yyyy-MM-dd'}}</td>
                            <td nz-td>
                                <i class="anticon anticon-pay-circle-o"></i>
                                <nz-input-number class="ml-sm" [(ngModel)]="data.budget" [nzMin]="1" [nzStep]="1">
                                </nz-input-number>
                            </td>
                            <td nz-td>
                                <i class="anticon anticon-pay-circle-o"></i>
                                <nz-input-number class="ml-sm" [(ngModel)]="data.minPrice" [nzMin]="1" [nzStep]="1">
                                </nz-input-number>
                            </td>
                            <td nz-td>
                                <i class="anticon anticon-pay-circle-o"></i>
                                <nz-input-number class="ml-sm" [(ngModel)]="data.maxPrice" [nzMin]="1" [nzStep]="1">
                                </nz-input-number>
                            </td>
                            <td nz-td>
                                <span>
                                    <a (click)="toShowResource(data)">详情</a>
                                    <span nz-table-divider></span>
                                    <a (click)="toDeleteResource(i)">删除</a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-card>


            <div class="my-md text-center">
                <button nz-button class="mx-sm" nzSize="large" (click)="toSaveSubPackage()">保存信息</button>
                <button nz-button class="mx-sm" nzSize="large" [nzType]="'primary'" (click)="toSubmitSubPackage()">确认提交</button>
                <button nz-button class="mx-sm" nzSize="large" (click)="toCancelSubPackage()">取消创建</button>
            </div>
        </nz-tab>
    </nz-spin>

    <nz-tab>
        <ng-template #nzTabHeading>
            <i class="anticon anticon-windows"></i>
            已保存的申请
        </ng-template>
        <nz-card nzTitle="申请信息" [nzBordered]="false">
            <nz-table #nzTable4 [nzAjaxData]="savedUnifiedApplies$ | async" [nzIsPagination]="false" [nzLoading]="fetchSavedUnifiedAppliesLoading$ | async">
                <thead nz-thead>
                    <tr>
                        <th nz-th>
                            <span>申请单号</span>
                        </th>
                        <th nz-th>
                            <span>申请人</span>
                        </th>
                        <th nz-th>
                            <span>申请人部门</span>
                        </th>
                        <th nz-th>
                            <span>资源数量</span>
                        </th>
                        <th nz-th>
                            <span>创建时间</span>
                        </th>
                        <th nz-th>
                            <span>操作</span>
                        </th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable4.data">
                        <td nz-td>{{data.applyInfo?.listNumber}}</td>
                        <td nz-td>{{data.applyInfo?.applicantName}}</td>
                        <td nz-td>{{data.applyInfo?.applicantDept}}</td>
                        <td nz-td>{{data.resources.length}}</td>
                        <td nz-td>{{data.createdAt | date: 'yyyy-MM-dd HH:mm'}}</td>
                        <td nz-td>
                            <span>
                                <a (click)="toShowSavedUnifiedApply(data)">详情</a>
                                <span nz-table-divider></span>
                                <a (click)="toEditSavedUnifiedApply(data)">编辑</a>
                                <span nz-table-divider></span>
                                <a (click)="toSubmitSavedUnifiedApply(data)">提交</a>
                                <span nz-table-divider></span>
                                <a (click)="toDeleteSavedUnifiedApply(data)">删除</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>


        <nz-card nzTitle="分包信息" [nzBordered]="false">
            <nz-table #nzTable5 [nzAjaxData]="savedSubPackageApplies$ | async" [nzIsPagination]="false" [nzLoading]="fetchSavedSubPackageAppliesLoading$ | async">
                <thead nz-thead>
                    <tr>
                        <th nz-th>
                            <span>分包编号</span>
                        </th>
                        <th nz-th>
                            <span>申请人</span>
                        </th>
                        <th nz-th>
                            <span>申请人部门</span>
                        </th>
                        <th nz-th>
                            <span>资源数量</span>
                        </th>
                        <th nz-th>
                            <span>创建时间</span>
                        </th>
                        <th nz-th>
                            <span>操作</span>
                        </th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable5.data">
                        <td nz-td>{{data.subPackageInfo?.subPackageNumber}}</td>
                        <td nz-td>{{data.subPackageInfo?.applicantName}}</td>
                        <td nz-td>{{data.subPackageInfo?.applicantDept}}</td>
                        <td nz-td>{{data.resources.length}}</td>
                        <td nz-td>{{data.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td nz-td>
                            <span>
                                <a (click)="toShowSavedSubPackageApply(data)">详情</a>
                                <span nz-table-divider></span>
                                <a (click)="toEditSavedSubPackageApply(data)">编辑</a>
                                <span nz-table-divider></span>
                                <a (click)="toSubmitSavedSubPackageApply(data)">提交</a>
                                <span nz-table-divider></span>
                                <a (click)="toDeleteSavedSubPackageApply(data)">删除</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>


    </nz-tab>

    <nz-tab *ngFor="let tab of extraTabs$ | async">
        <nz-spin [nzTip]="tab.data.ensureEditText" [nzSpinning]="tab.data.ensureEditLoading">
            <ng-template #nzTabHeading>
                <div>
                    {{tab.name}}
                    <i class="anticon anticon-cross" (click)="closeTab(tab.id)"></i>
                </div>
            </ng-template>
            <span *ngIf="tab.action === DETAIL_UNIFIED_EXTRA_TAB_ACTION">
                <nz-card *ngIf="tab.data; let tabData;" [nzNoHovering]="true" [nzBordered]="false" nzTitle="申请信息">
                    <ng-template #body>
                        <desc-list *ngIf="tabData.applyInfoForm; let applyInfoForm;" size="large" class="mb-lg">
                            <desc-list-item term="申请单号">{{applyInfoForm.value.listNumber}}</desc-list-item>
                            <desc-list-item term="申请人姓名">{{applyInfoForm.value.applicantName}}</desc-list-item>
                            <desc-list-item term="申请人部门">{{applyInfoForm.value.applicantDept}}</desc-list-item>
                            <desc-list-item term="联系电话">{{applyInfoForm.value.applicantPhone}}</desc-list-item>
                            <desc-list-item term="申请原因">{{applyInfoForm.value.applyReason}}</desc-list-item>
                        </desc-list>
                    </ng-template>
                </nz-card>

                <nz-card *ngIf="tab.data; let tabData;" [nzNoHovering]="true" [nzBordered]="false" nzTitle="资源信息">
                    <nz-table #nzTable6 [nzDataSource]="tabData.addedApplyResources" [nzIsPagination]="false">
                        <thead nz-thead>
                            <tr>
                                <th nz-th>
                                    <span>资源类型</span>
                                </th>
                                <th nz-th>
                                    <span>资源名称</span>
                                </th>
                                <th nz-th>
                                    <span>使用环境</span>
                                </th>
                                <th nz-th>
                                    <span>申请数量</span>
                                </th>
                                <th nz-th>
                                    <span>申请时间</span>
                                </th>
                                <th nz-th>
                                    <span>预计需要时间</span>
                                </th>
                                <th nz-th>
                                    <span>操作</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody nz-tbody>
                            <tr nz-tbody-tr *ngFor="let data of nzTable6.data; let i = index;">
                                <td nz-td>{{data.type}}</td>
                                <td nz-td>{{data.name || data.softwareName}}</td>
                                <td nz-td>{{data.environment}}</td>
                                <td nz-td>{{data.applyCount}}</td>
                                <td nz-td>{{data.applyTime | date: 'yyyy-MM-dd'}}</td>
                                <td nz-td>{{data.endTime | date: 'yyyy-MM-dd'}}</td>
                                <td nz-td>
                                    <span>
                                        <a (click)="toShowResource(data)">详情</a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>

                <nz-card *ngIf="tab.data; let tabData;" [nzNoHovering]="true" [nzBordered]="false" nzTitle="审批人信息">
                    <nz-table #nzTable7 [nzDataSource]="tabData.approvers" [nzIsPagination]="false">
                        <thead nz-thead>
                            <tr>
                                <th nz-th>
                                    <span>审批人姓名</span>
                                </th>
                                <th nz-th>
                                    <span>部门</span>
                                </th>
                                <th nz-th>
                                    <span>职位</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody nz-tbody>
                            <tr nz-tbody-tr *ngFor="let data of nzTable7.data">
                                <td nz-td>{{data.name}}</td>
                                <td nz-td>{{data.department}}</td>
                                <td nz-td>{{data.job}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>

            </span>

            <span *ngIf="tab.action === DETAIL_SUBPACKAGE_EXTRA_TAB_ACTION">
                <nz-card *ngIf="tab.data; let tabData;" [nzNoHovering]="true" [nzBordered]="false">
                    <ng-template #body>
                        <desc-list *ngIf="tabData.subPackageInfoForm; let subPackageInfoForm;" size="large" title="申请信息" class="mb-lg">
                            <desc-list-item term="分包编号">{{subPackageInfoForm.value.subPackageNumber}}</desc-list-item>
                            <desc-list-item term="申请人姓名">{{subPackageInfoForm.value.applicantName}}</desc-list-item>
                            <desc-list-item term="申请人部门">{{subPackageInfoForm.value.applicantDept}}</desc-list-item>
                            <desc-list-item term="联系电话">{{subPackageInfoForm.value.applicantPhone}}</desc-list-item>
                            <desc-list-item term="申请原因">{{subPackageInfoForm.value.applyReason}}</desc-list-item>
                        </desc-list>
                    </ng-template>
                </nz-card>

                <nz-card *ngIf="tab.data; let tabData;" [nzNoHovering]="true" [nzBordered]="false" nzTitle="资源信息">
                    <nz-table #nzTable8 [nzDataSource]="tabData.addedApplyResources" [nzIsPagination]="false">
                        <thead nz-thead>
                            <tr>
                                <th nz-th>
                                    <span>资源类型</span>
                                </th>
                                <th nz-th>
                                    <span>资源名称</span>
                                </th>
                                <th nz-th>
                                    <span>使用环境</span>
                                </th>
                                <th nz-th>
                                    <span>申请数量</span>
                                </th>
                                <th nz-th>
                                    <span>申请时间</span>
                                </th>
                                <th nz-th>
                                    <span>预计需要时间</span>
                                </th>
                                <th nz-th>
                                    <span>操作</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody nz-tbody>
                            <tr nz-tbody-tr *ngFor="let data of nzTable8.data; let i = index;">
                                <td nz-td>{{data.type}}</td>
                                <td nz-td>{{data.name || data.softwareName}}</td>
                                <td nz-td>{{data.environment}}</td>
                                <td nz-td>{{data.applyCount}}</td>
                                <td nz-td>{{data.applyTime | date: 'yyyy-MM-dd'}}</td>
                                <td nz-td>{{data.endTime | date: 'yyyy-MM-dd'}}</td>
                                <td nz-td>
                                    <span>
                                        <a (click)="toShowResource(data)">详情</a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </span>

            <span *ngIf="tab.action === EDIT_UNIFIED_EXTRA_TAB_ACTION">
                <nz-spin *ngIf="tab.data; let tabData;" [nzTip]="'获取申请信息中...'" [nzSpinning]="tabData.fetchApplyInfoLoading">
                    <nz-card [nzTitle]="'申请信息'" [nzBordered]="false">
                        <form nz-form [formGroup]="tabData.applyInfoForm" [nzLayout]="'vertical'">
                            <nz-card [nzBordered]="false">
                                <div nz-row [nzGutter]="40">
                                    <div nz-col [nzSpan]="6">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col>
                                                <label nz-form-item-required>申请单号</label>
                                            </div>
                                            <div nz-form-control nz-col nzHasFeedback>
                                                <nz-input formControlName="listNumber" [nzDisabled]="true" nzPlaceHolder="请输入申请单号" nzSize="large"></nz-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="6">
                                        <div nz-form-item nz-row>
                                            <div nz-form-item nz-row>
                                                <div nz-form-label nz-col>
                                                    <label nz-form-item-required>申请人姓名</label>
                                                </div>
                                                <div nz-form-control nz-col nzHasFeedback>
                                                    <nz-input formControlName="applicantName" [nzDisabled]="true" nzPlaceHolder="请输入申请人姓名" nzSize="large"></nz-input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div nz-col [nzSpan]="6">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col>
                                                <label nz-form-item-required>申请人部门</label>
                                            </div>
                                            <div nz-form-control nz-col nzHasFeedback>
                                                <nz-input formControlName="applicantDept" [nzDisabled]="true" nzPlaceHolder="请输入申请人部门" nzSize="large"></nz-input>
                                            </div>
                                        </div>
                                    </div>

                                    <div nz-col [nzSpan]="6">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col>
                                                <label nz-form-item-required>联系电话</label>
                                            </div>
                                            <div nz-form-control nz-col nzHasFeedback>
                                                <nz-input formControlName="applicantPhone" [nzDisabled]="true" nzPlaceHolder="请输入联系电话" nzSize="large"></nz-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div nz-row [nzGutter]="40">
                                    <div nz-col [nzSpan]="12">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col>
                                                <label nz-form-item-required>申请原因</label>
                                            </div>
                                            <div nz-form-control nz-col nzHasFeedback>
                                                <nz-input [nzType]="'textarea'" [nzRows]="3" formControlName="applyReason" nzPlaceHolder="请输入申请原因" nzSize="large"></nz-input>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </nz-card>
                        </form>
                    </nz-card>
                </nz-spin>

                <nz-card *ngIf="tab.data; let tabData;" [nzTitle]="'资源信息'" [nzBordered]="false">
                    <ng-template #extra>
                        <button nz-button class="mx-sm" nzSize="large" (click)="toCreateResource()">新增资源信息</button>
                        <button nz-button class="mx-sm" nzSize="large" [nzType]="'primary'" (click)="toAddResources()">选择资源信息</button>
                    </ng-template>
                    <nz-table #nzTable9 [nzDataSource]="tabData.addedApplyResources" [nzIsPagination]="false">
                        <thead nz-thead>
                            <tr>
                                <th nz-th>
                                    <span>资源类型</span>
                                </th>
                                <th nz-th>
                                    <span>资源名称</span>
                                </th>
                                <th nz-th>
                                    <span>使用环境</span>
                                </th>
                                <th nz-th>
                                    <span>申请数量</span>
                                </th>
                                <th nz-th>
                                    <span>申请时间</span>
                                </th>
                                <th nz-th>
                                    <span>预计需要时间</span>
                                </th>
                                <th nz-th>
                                    <span>操作</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody nz-tbody>
                            <tr nz-tbody-tr *ngFor="let data of nzTable9.data; let i = index;">
                                <td nz-td>{{data.type}}</td>
                                <td nz-td>{{data.name || data.softwareName}}</td>
                                <td nz-td>{{data.environment}}</td>
                                <td nz-td>{{data.applyCount}}</td>
                                <td nz-td>{{data.applyTime | date: 'yyyy-MM-dd'}}</td>
                                <td nz-td>{{data.endTime | date: 'yyyy-MM-dd'}}</td>
                                <td nz-td>
                                    <span>
                                        <a (click)="toShowResource(data)">详情</a>
                                        <span nz-table-divider></span>
                                        <a *ngIf="data.tempID" (click)="toEditTempResource(data)">编辑</a>
                                        <span *ngIf="data.tempID" nz-table-divider></span>
                                        <a (click)="toDeleteResource(i)">删除</a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>

                <div class="my-md text-center">
                    <button nz-button class="mx-sm" nzSize="large" (click)="toCancelEdit()">取消</button>
                    <button nz-button class="mx-sm" nzSize="large" [nzType]="'primary'" (click)="toEnsureEdit()">保存</button>
                </div>

                <nz-spin *ngIf="tab.data; let tabData;" [nzTip]="'获取审批人信息中...'" [nzSpinning]="tabData.fetchApproversLoading">
                    <nz-card [nzTitle]="'审批人信息'" [nzBordered]="false">
                        <nz-table #nzTable10 [nzDataSource]="tabData.approvers" [nzIsPagination]="false">
                            <thead nz-thead>
                                <tr>
                                    <th nz-th>
                                        <span>审批人姓名</span>
                                    </th>
                                    <th nz-th>
                                        <span>部门</span>
                                    </th>
                                    <th nz-th>
                                        <span>职位</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody nz-tbody>
                                <tr nz-tbody-tr *ngFor="let data of nzTable10.data">
                                    <td nz-td>{{data.name}}</td>
                                    <td nz-td>{{data.department}}</td>
                                    <td nz-td>{{data.job}}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </nz-card>
                </nz-spin>
            </span>


            <span *ngIf="tab.action === EDIT_SUBPACKAGE_EXTRA_TAB_ACTION">
                <nz-spin *ngIf="tab.data; let tabData;" [nzTip]="'获取分包信息中...'" [nzSpinning]="tabData.fetchSubPackageInfoLoading">
                    <nz-card [nzTitle]="'分包信息'" [nzBordered]="false">
                        <form nz-form [formGroup]="tabData.subPackageInfoForm" [nzLayout]="'vertical'">
                            <nz-card [nzBordered]="false">
                                <div nz-row [nzGutter]="40">
                                    <div nz-col [nzSpan]="6">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col>
                                                <label nz-form-item-required>分包编号</label>
                                            </div>
                                            <div nz-form-control nz-col nzHasFeedback>
                                                <nz-input formControlName="subPackageNumber" [nzDisabled]="true" nzPlaceHolder="请输入分包编号" nzSize="large"></nz-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div nz-col [nzSpan]="6">
                                        <div nz-form-item nz-row>
                                            <div nz-form-item nz-row>
                                                <div nz-form-label nz-col>
                                                    <label nz-form-item-required>申请人姓名</label>
                                                </div>
                                                <div nz-form-control nz-col nzHasFeedback>
                                                    <nz-input formControlName="applicantName" [nzDisabled]="true" nzPlaceHolder="请输入申请人姓名" nzSize="large"></nz-input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div nz-col [nzSpan]="6">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col>
                                                <label nz-form-item-required>申请人部门</label>
                                            </div>
                                            <div nz-form-control nz-col nzHasFeedback>
                                                <nz-input formControlName="applicantDept" [nzDisabled]="true" nzPlaceHolder="请输入申请人部门" nzSize="large"></nz-input>
                                            </div>
                                        </div>
                                    </div>

                                    <div nz-col [nzSpan]="6">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col>
                                                <label nz-form-item-required>联系电话</label>
                                            </div>
                                            <div nz-form-control nz-col nzHasFeedback>
                                                <nz-input formControlName="applicantPhone" [nzDisabled]="true" nzPlaceHolder="请输入联系电话" nzSize="large"></nz-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div nz-row [nzGutter]="40">
                                    <div nz-col [nzSpan]="12">
                                        <div nz-form-item nz-row>
                                            <div nz-form-label nz-col>
                                                <label nz-form-item-required>申请原因</label>
                                            </div>
                                            <div nz-form-control nz-col nzHasFeedback>
                                                <nz-input [nzType]="'textarea'" [nzRows]="3" formControlName="applyReason" nzPlaceHolder="请输入申请原因" nzSize="large"></nz-input>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </nz-card>
                        </form>
                    </nz-card>
                </nz-spin>

                <nz-card *ngIf="tab.data; let tabData;" [nzTitle]="'资源信息'" [nzBordered]="false">
                    <ng-template #extra>
                        <button nz-button class="mx-sm" nzSize="large" [nzType]="'primary'" (click)="toAddResources()">选择资源信息</button>
                    </ng-template>
                    <nz-table #nzTable9 [nzDataSource]="tabData.addedApplyResources" [nzIsPagination]="false">
                        <thead nz-thead>
                            <tr>
                                <th nz-th>
                                    <span>资源类型</span>
                                </th>
                                <th nz-th>
                                    <span>资源名称</span>
                                </th>
                                <th nz-th>
                                    <span>使用环境</span>
                                </th>
                                <th nz-th>
                                    <span>申请数量</span>
                                </th>
                                <th nz-th>
                                    <span>申请时间</span>
                                </th>
                                <th nz-th>
                                    <span>预计需要时间</span>
                                </th>
                                <th nz-th>
                                    <span>操作</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody nz-tbody>
                            <tr nz-tbody-tr *ngFor="let data of nzTable9.data; let i = index;">
                                <td nz-td>{{data.type}}</td>
                                <td nz-td>{{data.name || data.softwareName}}</td>
                                <td nz-td>{{data.environment}}</td>
                                <td nz-td>{{data.applyCount}}</td>
                                <td nz-td>{{data.applyTime | date: 'yyyy-MM-dd'}}</td>
                                <td nz-td>{{data.endTime | date: 'yyyy-MM-dd'}}</td>
                                <td nz-td>
                                    <span>
                                        <a (click)="toShowResource(data)">详情</a>
                                        <span nz-table-divider></span>
                                        <a (click)="toDeleteResource(i)">删除</a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>


                <div class="my-md text-center">
                    <button nz-button class="mx-sm" nzSize="large" (click)="toCancelEdit()">取消</button>
                    <button nz-button class="mx-sm" nzSize="large" [nzType]="'primary'" (click)="toEnsureEdit()">保存</button>
                </div>
            </span>
        </nz-spin>
    </nz-tab>
</nz-tabset>
