<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
    <nz-card [nzBordered]="false">
        <div nz-form-item nz-row>
            <div nz-form-label nz-col>
                <label nz-form-item-required>绑定展商</label>
            </div>
            <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="exhibitorID">
                <nz-select nzAllowClear [nzPlaceHolder]="'搜索展商'" [nzFilter]="false" formControlName="exhibitorID" (nzSearchChange)="searchChange($event)"
                    [nzNotFoundContent]="'无法找到'" nzShowSearch>
                    <nz-option *ngFor="let option of searchOptions$ | async" [nzLabel]="option.name" [nzValue]="option.id">
                    </nz-option>
                </nz-select>
            </div>
        </div>
    </nz-card>

    <div class="customize-footer">
        <button nz-button nzSize="large" (click)="toCancel()">取消</button>
        <button nz-button (click)="toSave()" [nzType]="'primary'" nzSize="large">保存</button>
    </div>
</form>
