<pro-header></pro-header>


<nz-tabset [nzType]="'card'" [(nzSelectedIndex)]="tabIndex" (nzSelectedIndexChange)="tabChange($event)">
    <nz-tab>
        <ng-template #nzTabHeading>
            <i class="anticon anticon-apple"></i>
            物理服务器
        </ng-template>
        <div class="mb-md" nz-row>
            <div nz-col [nzSpan]="'6'">
                <button nz-button (click)="toCreatePhysical()" [nzType]="'primary'" [nzSize]="'large'">
                    <i class="anticon anticon-plus"></i>
                    <span>新建物理服务器台账</span>
                </button>
            </div>

            <div nz-col [nzSpan]="'18'" class="text-center">
                <nz-input [nzType]="'search'" [formControl]="searchPhysicalCtrl" [nzSize]="'large'" [nzPlaceHolder]="'搜索物理服务器名称、类型'" style="width: 300px;"
                    (nzOnSearch)="onSearchPhysical()"></nz-input>
            </div>
        </div>
        <nz-card [nzBordered]="false">
            <nz-table #nzTable1 [nzAjaxData]="physicals$ | async" [nzShowSizeChanger]="true" [nzLoading]="physicalLoading$ | async" [nzTotal]="physicalsCount$ | async"
                [(nzPageIndex)]="physicalPageIndex" (nzPageIndexChange)="fetchPhysicals()" [(nzPageSize)]="physicalPageSize"
                (nzPageSizeChange)="fetchPhysicals()" [nzShowFooter]="true">
                <thead nz-thead>
                    <tr>
                        <th nz-th>
                            <span>服务器名称</span>
                        </th>
                        <th nz-th>
                            <span>用途</span>
                        </th>
                        <th nz-th>
                            <span>使用对象</span>
                        </th>
                        <th nz-th>
                            <span>所属集群</span>
                        </th>
                        <th nz-th>
                            <span>品牌</span>
                        </th>
                        <th nz-th>
                            <span>型号</span>
                        </th>
                        <th nz-th>
                            <span>物理位置</span>
                        </th>
                        <th nz-th>
                            <span>操作</span>
                        </th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable1.data">
                        <td nz-td>{{data.name}}</td>
                        <td nz-td>{{data.purpose}}</td>
                        <td nz-td>{{data.whoUse}}</td>
                        <td nz-td>{{data.clusterGroupOwner}}</td>
                        <td nz-td>{{data.brand}}</td>
                        <td nz-td>{{data.modelNumber}}</td>
                        <td nz-td>{{data.physicalLocation}}</td>
                        <td nz-td>
                            <span>
                                <a (click)="toEditPhysical(data)">编辑</a>
                                <span nz-table-divider></span>
                                <a (click)="toShowPhysical(data)">详情</a>
                                <span nz-table-divider></span>
                                <a (click)="toDeletePhysical(data)">删除</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <span nz-table-footer>
                    <i class="anticon anticon-database"></i>
                    {{'共 ' + (physicalsCount$ | async) + ' 条'}}
                </span>
            </nz-table>
        </nz-card>
    </nz-tab>

    <nz-tab>
        <ng-template #nzTabHeading>
            <i class="anticon anticon-android"></i>
            虚拟服务器
        </ng-template>
        <div class="mb-md" nz-row>
            <div nz-col [nzSpan]="'6'">
                <button nz-button (click)="toCreateVirtual()" [nzType]="'primary'" [nzSize]="'large'">
                    <i class="anticon anticon-plus"></i>
                    <span>新建虚拟服务器台账</span>
                </button>
            </div>

            <div nz-col [nzSpan]="'18'" class="text-center">
                <nz-input [nzType]="'search'" [formControl]="searchVirtualCtrl" [nzSize]="'large'" [nzPlaceHolder]="'搜索虚拟服务器名称、类型'" style="width: 300px;"
                    (nzOnSearch)="onSearchVirtual()"></nz-input>
            </div>
        </div>
        <nz-card [nzBordered]="false">
            <nz-table #nzTable2 [nzAjaxData]="virtuals$ | async" [nzShowSizeChanger]="true" [nzLoading]="virtualLoading$ | async" [nzTotal]="virtualsCount$ | async"
                [(nzPageIndex)]="virtualPageIndex" (nzPageIndexChange)="fetchVirtuals()" [(nzPageSize)]="virtualPageSize" (nzPageSizeChange)="fetchVirtuals()"
                [nzShowFooter]="true">
                <thead nz-thead>
                    <tr>
                        <th nz-th>
                            <span>服务器名称</span>
                        </th>
                        <th nz-th>
                            <span>用途</span>
                        </th>
                        <th nz-th>
                            <span>使用对象</span>
                        </th>
                        <th nz-th>
                            <span>所属集群</span>
                        </th>
                        <th nz-th>
                            <span>品牌</span>
                        </th>
                        <th nz-th>
                            <span>型号</span>
                        </th>
                        <th nz-th>
                            <span>物理位置</span>
                        </th>
                        <th nz-th>
                            <span>操作</span>
                        </th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable2.data">
                        <td nz-td>{{data.name}}</td>
                        <td nz-td>{{data.purpose}}</td>
                        <td nz-td>{{data.whoUse}}</td>
                        <td nz-td>{{data.clusterGroupOwner}}</td>
                        <td nz-td>{{data.brand}}</td>
                        <td nz-td>{{data.modelNumber}}</td>
                        <td nz-td>{{data.physicalLocation}}</td>
                        <td nz-td>
                            <span>
                                <a (click)="toEditVirtual(data)">编辑</a>
                                <span nz-table-divider></span>
                                <a (click)="toShowVirtual(data)">详情</a>
                                <span nz-table-divider></span>
                                <a (click)="toDeleteVirtual(data)">删除</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <span nz-table-footer>
                    <i class="anticon anticon-database"></i>
                    {{'共 ' + (virtualsCount$ | async) + ' 条'}}
                </span>
            </nz-table>
        </nz-card>
    </nz-tab>

    <nz-tab>
        <ng-template #nzTabHeading>
            <i class="anticon anticon-windows"></i>
            服务器集群
        </ng-template>
        <div class="mb-md" nz-row>
            <div nz-col [nzSpan]="'6'">
                <button nz-button (click)="toCreateCluster()" [nzType]="'primary'" [nzSize]="'large'">
                    <i class="anticon anticon-plus"></i>
                    <span>新建集群服务器台账</span>
                </button>
            </div>

            <div nz-col [nzSpan]="'18'" class="text-center">
                <nz-input [nzType]="'search'" [formControl]="searchClusterCtrl" [nzSize]="'large'" [nzPlaceHolder]="'搜索集群服务器名称、类型'" style="width: 300px;"
                    (nzOnSearch)="onSearchCluster()"></nz-input>
            </div>
        </div>
        <nz-card [nzBordered]="false">
            <nz-table #nzTable3 [nzAjaxData]="clusters$ | async" [nzShowSizeChanger]="true" [nzLoading]="clusterLoading$ | async" [nzTotal]="clustersCount$ | async"
                [(nzPageIndex)]="clusterPageIndex" (nzPageIndexChange)="fetchClusters()" [(nzPageSize)]="clusterPageSize" (nzPageSizeChange)="fetchClusters()"
                [nzShowFooter]="true">
                <thead nz-thead>
                    <tr>
                        <th nz-th>
                            <span>服务器集群名称</span>
                        </th>
                        <th nz-th>
                            <span>集群用途</span>
                        </th>
                        <th nz-th>
                            <span>工作状态</span>
                        </th>
                        <th nz-th>
                            <span>使用对象</span>
                        </th>
                        <th nz-th>
                            <span>使用期限</span>
                        </th>
                        <th nz-th>
                            <span>操作</span>
                        </th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable3.data">
                        <td nz-td>{{data.name}}</td>
                        <td nz-td>{{data.purpose}}</td>
                        <td nz-td>{{data.workStatus}}</td>
                        <td nz-td>{{data.whoUse}}</td>
                        <td nz-td>{{data.durationUse}}</td>
                        <td nz-td>
                            <span>
                                <a (click)="toEditCluster(data)">编辑</a>
                                <span nz-table-divider></span>
                                <a (click)="toShowCluster(data)">详情</a>
                                <span nz-table-divider></span>
                                <a (click)="toDeleteCluster(data)">删除</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <span nz-table-footer>
                    <i class="anticon anticon-database"></i>
                    {{'共 ' + (clustersCount$ | async) + ' 条'}}
                </span>
            </nz-table>
        </nz-card>
    </nz-tab>
</nz-tabset>
