<pro-header [title]="'展商详情'"></pro-header>

<nz-spin [nzTip]="'正在获取详情...'" [nzSpinning]="loading$ | async">
    <div nz-row nzGutter="16">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" class="mb-md">
            <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
                <div nz-col nzSpan="12" class="p-md text-white text-center">
                    <div class="h2 mt0">{{(exhibitorDetail$ | async)?.scanCardsCount}}</div>
                    <p class="text-nowrap">扫描名片数</p>
                </div>
                <div nz-col nzSpan="12">
                    <mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]" [data]="webSite"></mini-bar>
                </div>
            </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" class="mb-md">
            <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
                <div nz-col nzSpan="12" class="p-md text-white text-center">
                    <div class="h2 mt0">{{(exhibitorDetail$ | async)?.inviteVisitorsCount}}</div>
                    <p class="text-nowrap">邀请买家数</p>
                </div>
                <div nz-col nzSpan="12">
                    <mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]" [data]="webSite"></mini-bar>
                </div>
            </div>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" class="mb-md">
            <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
                <div nz-col nzSpan="12" class="p-md text-white text-center">
                    <div class="h2 mt0">{{(exhibitorDetail$ | async)?.inviteExhibitorsCount}}</div>
                    <p class="text-nowrap">邀请展商数</p>
                </div>
                <div nz-col nzSpan="12">
                    <mini-bar height="35" color="#fff" borderWidth="3" [padding]="[36, 30, 30, 30]" [data]="webSite"></mini-bar>
                </div>
            </div>
        </div>
    </div>
    <nz-card [nzNoHovering]="true" [nzBordered]="false">
        <ng-template #body>
            <desc-list size="large" title="基本信息" class="mb-lg">
                <desc-list-item term="展商名称">{{(exhibitorDetail$ | async)?.name}}</desc-list-item>
                <desc-list-item term="地址">{{(exhibitorDetail$ | async)?.address}}</desc-list-item>
                <desc-list-item term="邮箱">{{(exhibitorDetail$ | async)?.email}}</desc-list-item>
                <desc-list-item term="传真">{{(exhibitorDetail$ | async)?.fax}}</desc-list-item>
                <desc-list-item term="电话">{{(exhibitorDetail$ | async)?.tel}}</desc-list-item>
                <desc-list-item term="网站">{{(exhibitorDetail$ | async)?.website}}</desc-list-item>
            </desc-list>
            <nz-divider class="mb-lg"></nz-divider>
            <desc-list size="large" title="地址信息" class="mb-lg">
                <desc-list-item term="省份">{{(exhibitorDetail$ | async)?.province}}</desc-list-item>
                <desc-list-item term="城市">{{(exhibitorDetail$ | async)?.city}}</desc-list-item>
            </desc-list>
            <nz-divider class="mb-lg"></nz-divider>
            <desc-list size="large" title="行业信息" class="mb-lg">
                <desc-list-item term="行业大分类">{{(exhibitorDetail$ | async)?.categories}}</desc-list-item>
                <desc-list-item term="行业小分类">{{(exhibitorDetail$ | async)?.categories2}}</desc-list-item>
                <desc-list-item term="行业">{{(exhibitorDetail$ | async)?.industry}}</desc-list-item>
            </desc-list>
            <nz-divider class="mb-lg"></nz-divider>
            <desc-list size="large" title="更多" class="mb-lg">
                <desc-list-item term="展区">{{(exhibitorDetail$ | async)?.boothArea}}</desc-list-item>
                <desc-list-item term="展位号">{{(exhibitorDetail$ | async)?.boothNo}}</desc-list-item>
                <desc-list-item term="展区面积">{{(exhibitorDetail$ | async)?.showArea + ' 平米'}}</desc-list-item>
                <desc-list-item term="简介">{{(exhibitorDetail$ | async)?.introduction}}</desc-list-item>
            </desc-list>
            <nz-divider class="mb-lg"></nz-divider>

            <!-- <desc-list size="large" title="展会统计信息" class="mb-lg">
            <desc-list-item term="扫名片数">{{(exhibitorDetail$ | async)?.scanCardsCount}}</desc-list-item>
            <desc-list-item term="邀请买家数">{{(exhibitorDetail$ | async)?.inviteVisitorsCount}}</desc-list-item>
            <desc-list-item term="邀请展商数">{{(exhibitorDetail$ | async)?.inviteExhibitorsCount}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider> -->
        </ng-template>
    </nz-card>

    <nz-card [nzNoHovering]="true" [nzBordered]="false" nzTitle="展商联系人">
        <nz-table #nzTable1 [nzAjaxData]="(exhibitorDetail$ | async)?.linkList" [nzIsPagination]="false">
            <thead nz-thead>
                <tr>
                    <th nz-th>
                        <span>姓名</span>
                    </th>
                    <th nz-th>
                        <span>职务</span>
                    </th>
                    <th nz-th>
                        <span>手机</span>
                    </th>
                    <th nz-th>
                        <span>是否管理员</span>
                    </th>
                </tr>
            </thead>
            <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of nzTable1.data">
                    <td nz-td>{{data.name}}</td>
                    <td nz-td>{{data.job}}</td>
                    <td nz-td>{{data.phone}}</td>
                    <td nz-td>{{data.isAdmin ? '是' : '否'}}</td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>

    <nz-card [nzNoHovering]="true" [nzBordered]="false" nzTitle="展商产品">
        <div nz-row [nzGutter]="16">
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" *ngFor="let product of (exhibitorDetail$ | async)?.productList">
                <nz-card [nzNoHovering]="false" [nzTitle]="product.name" nzNoPadding>
                    <nz-carousel [nzAutoPlay]="3000">
                        <div nz-carousel-content *ngFor="let pic of product.picList">
                            <img style="max-width: 100%;" [src]="pic.path" alt="产品图片">
                        </div>
                    </nz-carousel>
                    <div nz-row class="text-center border-top-1 p-md">
                        {{product.remark}}
                    </div>
                </nz-card>
            </div>
        </div>
    </nz-card>
</nz-spin>
