<pro-header></pro-header>

<nz-card [nzBordered]="false">
    <div class="mb-md">
        <button nz-button (click)="toCreate()" [nzType]="'primary'" [nzSize]="'large'">
            <i class="anticon anticon-plus"></i>
            <span>新增</span>
        </button>
        <ng-container>
            <button nz-button [nzSize]="'large'" class="ml-sm" (click)="toBatchDelete()">批量删除</button>
            <!-- <button nz-button [nzSize]="'large'" class="ml-sm" (click)="toBatchRejectVisitor()">批量拒绝</button> -->
        </ng-container>
    </div>

    <nz-table #nzTable1 [nzAjaxData]="terminals$ | async" [nzShowSizeChanger]="true" [nzLoading]="loading$ | async" [nzTotal]="terminalsCount$ | async"
        [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="fetchTerminals()" [(nzPageSize)]="pageSize" (nzPageSizeChange)="fetchTerminals()"
        [nzShowFooter]="true">
        <thead nz-thead>
            <tr>
                <th nz-th [nzCheckbox]="true">
                    <label nz-checkbox [ngModel]="allChecked" [nzIndeterminate]="indeterminate" (ngModelChange)="checkAll($event)"></label>
                </th>
                <th nz-th>
                    <span>终端名称</span>
                </th>
                <th nz-th>
                    <span>状态</span>
                </th>
                <th nz-th>
                    <span>展商名称</span>
                </th>
                <th nz-th>
                    <span>发放时间</span>
                </th>
                <th nz-th>
                    <span>操作</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable1.data">
                <td nz-td [nzCheckbox]="true">
                    <label nz-checkbox [nzDisabled]="data.disabled" [(ngModel)]="data.checked" (ngModelChange)="refreshStatus($event, data.id)">
                    </label>
                </td>
                <td nz-td>{{data.name}}</td>
                <td nz-td>{{data.status | terminalStatus}}</td>
                <td nz-td>{{data.exhibitorID}}</td>
                <td nz-td>{{data.time}}</td>
                <td nz-td>
                    <span>
                        <a (click)="toAssign(data.id)">绑定</a>
                        <span nz-table-divider></span>
                        <a (click)="toDelete(data.id)">删除</a>
                    </span>
                </td>
            </tr>
        </tbody>
        <span nz-table-footer>
            <i class="anticon anticon-database"></i>
            {{'共 ' + (terminalsCount$ | async) + ' 条'}}
        </span>
    </nz-table>
</nz-card>
