<nz-card [nzNoHovering]="true" [nzBordered]="false">
    <ng-template #body>
        <desc-list size="large" title="基本信息" class="mb-lg">
            <desc-list-item term="软件名称">{{data.name}}</desc-list-item>
            <desc-list-item term="软件类别">{{data.type}}</desc-list-item>
            <desc-list-item term="软件版本">{{data.version}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
        <desc-list size="large" title="使用信息" class="mb-lg">
            <desc-list-item term="使用对象">{{data.whoUse}}</desc-list-item>
            <desc-list-item term="起始使用时间">{{data.startTimeUse}}</desc-list-item>
            <desc-list-item term="使用期限">{{data.yearsUse}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
        <desc-list size="large" title="更多" class="mb-lg">
            <desc-list-item term="许可证">{{data.license}}</desc-list-item>
            <desc-list-item term="备注">{{data.remark}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
    </ng-template>
</nz-card>
<div class="customize-footer text-center">
    <button nz-button [nzSize]="'large'" (click)="toSave()" [nzType]="'primary'" nzSize="large">我知道了</button>
</div>
