<pro-header></pro-header>

<nz-card [nzTitle]="'查询买家约请'" [nzBordered]="false">
    <form nz-form [formGroup]="queryVisitorForm" (ngSubmit)="queryVisitorData()" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="status">约请状态</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select formControlName="status" [nzPlaceHolder]="'请选择'" nzAllowClear [nzShowSearch]="true" [nzSize]="'large'">
                            <nz-option *ngFor="let i of visitorStatuses" [nzLabel]="i.label" [nzValue]="i.status"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="updatedAt">审批日期</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-datepicker [nzSize]="'large'" [nzPlaceHolder]="'请输入审批日期'" formControlName="approveAt" class="d-block"></nz-datepicker>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="8" class="mb-md">
                <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'">查询</button>
                <button nz-button (click)="resetVisitorData()" [nzSize]="'large'" class="mx-sm">重置</button>
            </div>
        </div>
    </form>

    <div class="mb-md">
        <ng-container>
            <button nz-button [nzSize]="'large'" class="ml-sm" (click)="toBatchDeleteVisitor()">批量删除</button>
        </ng-container>
    </div>

    <nz-table #nzTable1 [nzAjaxData]="visitorInvitations$ | async" [nzShowSizeChanger]="true" [nzLoading]="visitorLoading$ | async"
        [nzTotal]="visitorInvitationsCount$ | async" [(nzPageIndex)]="visitorPageIndex" (nzPageIndexChange)="fetchVisitorInvitations()"
        [(nzPageSize)]="visitorPageSize" (nzPageSizeChange)="fetchVisitorInvitations()" [nzShowFooter]="true">
        <thead nz-thead>
            <tr>
                <th nz-th [nzCheckbox]="true">
                    <label nz-checkbox [ngModel]="visitorAllChecked" [nzIndeterminate]="visitorIndeterminate" (ngModelChange)="checkAllVisitor($event)"></label>
                </th>
                <th nz-th>
                    <span>邀请人公司</span>
                </th>
                <th nz-th>
                    <span>邀请人</span>
                </th>
                <th nz-th>
                    <span>邀请人职务</span>
                </th>
                <th nz-th>
                    <span>受邀人公司</span>
                </th>
                <th nz-th>
                    <span>受邀人</span>
                </th>
                <th nz-th>
                    <span>受邀人职务</span>
                </th>
                <th nz-th>
                    <span>发送时间</span>
                </th>
                <th nz-th>
                    <span>审批时间</span>
                </th>
                <th nz-th>
                    <span>约请状态</span>
                </th>
                <th nz-th>
                    <span>操作</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable1.data">
                <td nz-td [nzCheckbox]="true">
                    <label nz-checkbox [nzDisabled]="data.disabled" [(ngModel)]="data.checked" (ngModelChange)="refreshVisitorStatus($event, data.id)">
                    </label>
                </td>
                <td nz-td>{{data.initiatorCompany}}</td>
                <td nz-td>{{data.initiator}}</td>
                <td nz-td>{{data.initiatorJob}}</td>
                <td nz-td>{{data.receiverCompany}}</td>
                <td nz-td>{{data.receiver}}</td>
                <td nz-td>{{data.receiverJob}}</td>
                <td nz-td>{{data.createdAt}}</td>
                <td nz-td>{{data.approvedAt}}</td>
                <td nz-td>{{data.status | visitorInvitationStatus}}</td>
                <td nz-td>
                    <span>
                        <a (click)="toDeleteVisitor(data.id)">删除</a>
                    </span>
                </td>
            </tr>
        </tbody>
        <span nz-table-footer>
            <i class="anticon anticon-database"></i>
            {{'共 ' + (visitorInvitationsCount$ | async) + ' 条'}}
        </span>
    </nz-table>
</nz-card>



<nz-card [nzTitle]="'查询展商约请'" [nzBordered]="false">
    <form nz-form [formGroup]="queryExhibitorForm" (ngSubmit)="queryExhibitorData()" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="status">约请状态</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select formControlName="status" [nzPlaceHolder]="'请选择'" nzAllowClear [nzShowSearch]="true" [nzSize]="'large'">
                            <nz-option *ngFor="let i of exhibitorStatuses" [nzLabel]="i.label" [nzValue]="i.status"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="updatedAt">审批日期</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-datepicker [nzSize]="'large'" [nzPlaceHolder]="'请输入审批日期'" formControlName="approveAt" class="d-block"></nz-datepicker>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="8" class="mb-md">
                <button nz-button type="submit" [nzType]="'primary'" [nzSize]="'large'">查询</button>
                <button nz-button (click)="resetExhibitorData()" [nzSize]="'large'" class="mx-sm">重置</button>
            </div>
        </div>
    </form>

    <div class="mb-md">
        <ng-container>
            <button nz-button [nzSize]="'large'" class="ml-sm" (click)="toBatchDeleteExhibitor()">批量删除</button>
        </ng-container>
    </div>

    <nz-table #nzTable2 [nzAjaxData]="exhibitorInvitations$ | async" [nzShowSizeChanger]="true" [nzLoading]="exhibitorLoading$ | async"
        [nzTotal]="exhibitorInvitationsCount$ | async" [(nzPageIndex)]="exhibitorPageIndex" (nzPageIndexChange)="fetchExhibitorInvitations()"
        [(nzPageSize)]="exhibitorPageSize" (nzPageSizeChange)="fetchExhibitorInvitations()" [nzShowFooter]="true">
        <thead nz-thead>
            <tr>
                <th nz-th [nzCheckbox]="true">
                    <label nz-checkbox [ngModel]="exhibitorAllChecked" [nzIndeterminate]="exhibitorIndeterminate" (ngModelChange)="checkAllExhibitor($event)"></label>
                </th>
                <th nz-th>
                    <span>邀请人公司</span>
                </th>
                <th nz-th>
                    <span>邀请人</span>
                </th>
                <th nz-th>
                    <span>邀请人职务</span>
                </th>
                <th nz-th>
                    <span>受邀人公司</span>
                </th>
                <th nz-th>
                    <span>受邀人</span>
                </th>
                <th nz-th>
                    <span>受邀人职务</span>
                </th>
                <th nz-th>
                    <span>发送时间</span>
                </th>
                <th nz-th>
                    <span>审批时间</span>
                </th>
                <th nz-th>
                    <span>约请状态</span>
                </th>
                <th nz-th>
                    <span>操作</span>
                </th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable2.data">
                <td nz-td [nzCheckbox]="true">
                    <label nz-checkbox [nzDisabled]="data.disabled" [(ngModel)]="data.checked" (ngModelChange)="refreshExhibitorStatus($event, data.id)">
                    </label>
                </td>
                <td nz-td>{{data.initiatorCompany}}</td>
                <td nz-td>{{data.initiator}}</td>
                <td nz-td>{{data.initiatorJob}}</td>
                <td nz-td>{{data.receiverCompany}}</td>
                <td nz-td>{{data.receiver}}</td>
                <td nz-td>{{data.receiverJob}}</td>
                <td nz-td>{{data.createdAt}}</td>
                <td nz-td>{{data.approvedAt}}</td>
                <td nz-td>{{data.status | exhibitorInvitationStatus}}</td>
                <td nz-td>
                    <span>
                        <a (click)="toDeleteExhibitor(data.id)">删除</a>
                    </span>
                </td>
            </tr>
        </tbody>
        <span nz-table-footer>
            <i class="anticon anticon-database"></i>
            {{'共 ' + (exhibitorInvitationsCount$ | async) + ' 条'}}
        </span>
    </nz-table>
</nz-card>
