<nz-card [nzNoHovering]="true" [nzBordered]="false">
    <ng-template #body>
        <desc-list size="large" title="基本信息" class="mb-lg">
            <desc-list-item term="资源类型">{{resourceInfo.resourceType}}</desc-list-item>
            <desc-list-item term="资产编号">{{resourceInfo.assetsNumber}}</desc-list-item>
            <desc-list-item term="资产类型">{{resourceInfo.assetsType}}</desc-list-item>
            <desc-list-item term="软件类型">{{resourceInfo.softwareType}}</desc-list-item>
            <desc-list-item term="软件名称">{{resourceInfo.softwareName}}</desc-list-item>
            <desc-list-item term="软件版本">{{resourceInfo.softwareVersion}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
        <desc-list size="large" title="详细信息" class="mb-lg">
            <desc-list-item term="入库数量">{{resourceInfo.entryCount}}</desc-list-item>
            <desc-list-item term="数量单位">{{resourceInfo.countUnit}}</desc-list-item>
            <desc-list-item term="入库时间">{{resourceInfo.entryTime}}</desc-list-item>
            <desc-list-item term="存放位置">{{resourceInfo.entryLocation}}</desc-list-item>
            <desc-list-item term="资源单价">{{resourceInfo.resourceUnitPrice}}</desc-list-item>
            <desc-list-item term="操作员">{{resourceInfo.operator}}</desc-list-item>
            <desc-list-item term="备注">{{resourceInfo.remark}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
    </ng-template>
</nz-card>
<div class="customize-footer text-center">
    <button nz-button [nzSize]="'large'" (click)="toSave()" [nzType]="'primary'" nzSize="large">我知道了</button>
</div>
